*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background: rgb(7, 5, 3);
    /* background-image: -moz-linear-gradient((rgb(247, 247, 247), #aaa));
    background-image: -webkit-linear-gradient((rgb(247, 247, 247), #aaa)); */
    background-repeat: no-repeat;
    height: 100vh;
    
    font-size: 30px;
    color: white;
    padding: 20px;
    font-family: sans-serif;
}

[conteiner]{
    display: flex;
    height: 600px;
    
}

.tela-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}



.tela-direita {

    width: 50vw;
    border-left: 1px solid white;
}

.area-calculadora {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 50vw;
    flex-wrap: wrap;

}

.area-calculadora::after {

    content: '';
    width: 45vw;
    height: 1px;
    background: white;
    display: block;
}

input {

    height: 30%;
    width: 50%;
    margin-left: 10px;
    font-size: 1em;
    padding: 5px 20px;
    background-color: rgba(92, 26, 26, 0.705);
    border: none;
    border-radius: 5px;
    color: white;
    outline: 0;
}



button {
    margin-left: 10px;
    width: 20%;
    height: 30%;
    border-radius: 100px;
    font-size: 1.2rem;
    color: white;
    outline: 0;
    border: none;
}


.area-produtos {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 30vh;
    width: 50vw;
}

.area-produtos::after {

    content: '';
    width: 45vw;
    height: 1px;
    background: white;
    display: block;
}

[tomate]{

    background-color: tomato;

}


[cebola]{

    background-color: rgb(177, 174, 129);

}

[laranja]{

    background-color: orange;

}

[batata]{
    background-color: rgb(150, 118, 59);
}

[cenoura]{
    background-color: rgb(228, 123, 3);
}

[limao]{
    background-color: rgb(26, 207, 35);
}

[aipim]{

    background-color: rgb(85, 64, 24);
}

[novo]{
    background-color: rgb(22, 21, 18);
    box-shadow: 0 0 10px rgb(68, 19, 19)
}

[novo]:active {
    box-shadow: 0 0 10px red;
}

.alterar-produto {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 50vw;
}

.nota {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65vh;
    align-items: center;
}

[verde] {

    color: rgb(133, 209, 133);
    font-size: 3rem;
}

[txtPrecoQuilo] {

    font-size: 2.2rem;

}